
body {
    width :90%;
    box-sizing : border-box ;
    margin : 1% auto 1% auto;
    padding : 0px;
}

.theme-backcolor1 {
    background : #5d6aab;
}

.theme-backcolor2 {
    background : #cbd2f6;
}


h1 {
    margin : 0px;
    padding : 0px;
}

header, footer{

    margin: 0px;
    padding: 0px;
    border-radius: 2rem;
}


header {
    margin-bottom : 1rem;
}


footer {
    text-align : right;
    padding-right : 1rem;
    margin-bottom : 1rem;
}

header h1 {
    font-size : 3rem;
    margin-left : 2rem;
}

section {
    width : 100%;
    padding : 0px;
    margin : 0px;
    margin-bottom : 1rem;
    min-height : 400px;
}

article, aside {
    display : inline-block;
    vertical-align : top;
    box-sizing : border-box;
    margin : 0px;
}

aside {
    width : 25%;
    margin-right :1rem;
}

article {
    width : 72%;
    padding : 1rem;
    border-radius: .5rem;
    min-height : inherit;
    
}

article h2 {
    font-size : 1rem;
    margin : 0px;
    padding : 0px;
    margin-bottom : 1rem;
}

/* le contenu des articles  */

#wiki {
    font-size : 0.8rem;
    padding : 0px;
    margin: 0px;
}

#wiki h1, #wiki h2{
    font-size : inherit;
    margin : 0px;
    padding : 0px;
    margin-bottom : 1rem;
}

#date {
    font-size : 0.7rem;
    margin : 0px;
    padding : 0px;
    padding-right: 1rem;
    margin-bottom : 1rem;
    text-align : right;
}

#edit {
    text-align:right;
    margin-top :1em;
}


/* le menu de navigation */  

#menu, #recent{
    margin: 0px;
    margin-bottom : 1rem;
    padding: 1rem;
    border-radius: .5rem;
}
nav h2{
    padding : 0px;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align :center;
}

nav li {
    list-style-type:none;
}

#recent ul, #menu ul {
    box-sizing : border-box;
    margin: 0px;
    padding : 0px;
    padding-left :1rem;
}

/* login */

#login {    
    width : 30%;
    margin: 0px auto 0px auto;
    padding: 1rem;
    border-radius: .5rem;
    box-sizing : border-box;    
}


#login_text, #pass_text, #login_button {
    box-sizing : border-box;    
    display : inline-block;
    width : 100%;
    margin : .3rem;
    padding : .1rem;
    border : none;
    font-size : 1rem;
    color : gray;
    height : 1.5rem;
    vertical-align : middle;
}

#login_button {
    color: black;
}



/* espace personel  */

.espace_perso {
    display: inline-block;
    box-sizing : border-box;
    padding : 0px;
    margin : 0px;
    width :49%;
}

.edit_link {
    text-align : right;
}


/* creation / edition d'une page */

#create_title_block{
    
}
    
#create_title, #create_text{
    border: none; 
    width : 100%;
    margin-bottom : 1rem;
}

#create_text {
    min-height : 200px;
}

#create_button,  #edit_button{
    float : right;
    border : none;
}